@using MicroVerse.ViewModels;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model FollowButtonModel


@if (SignInManager.IsSignedIn(User) && Model.User != @User.Identity?.Name)
{

    @if (Model.Follows) {
        <form method="post" asp-action="UnfollowUser" asp-controller="User">
            <input type="hidden" name="followedId" value="@Model.User" />
            <input type="hidden" name="followerId" value="@User.Identity?.Name" />
            <button type="submit" onclick="refreshPage();" class="follow-button">Unfollow</button>
        </form>

    }
    else
    {
        <form method="post" asp-action="FollowUser" asp-controller="User">
            <input type="hidden" name="followedId" value="@Model.User" />
            <input type="hidden" name="followerId" value="@User.Identity?.Name" />
            <button type="submit" onclick="refreshPage();" class="follow-button">Follow</button>
        </form>
    }
   
}
