@using MicroVerse.ViewModels

@model List<UserWithRole>


<div class="body">
    <table>
        <tr>
            <th>Username</th>
            <th>Displayed Name</th>
            <th>Bio</th>
            <th>Activation</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        @foreach(var user in Model)
        {
            var roleString = user.UserName + "," + user.Role;
            <tr>
                <td><a asp-controller="Home" asp-action="Profile" asp-route-id="@user.UserName">@user.UserName</a></td>
                <td>@user.DisplayedName</td>
                <td>@user.Bio</td>
                <td>@user.Activation</td>
                <td>@user.Role</td>
                <td>
                    <partial name="_RoleSelection" for="@roleString">
                </td>
            </tr>
        }
    </table>

</div>