@{
    ViewData["Title"] = "Profile";
}
@using MicroVerse.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model ProfileViewModel


<!-- Page content -->
<div class="main">

    <div class="profile-header">
        <img class="profile-picture" src="https://picsum.photos/200/200" height="100" width="100" /> <!-- Mock profile picture -->
        <h1>@Model.UserName</h1>
        <div class="follow-counts">
            <p>Followers: @Model.FollowerCount</p>
            <p>Following: @Model.FollowsCount</p>
        </div>
    </div>
    <partial name="_FollowBtn" for="@Model.Follows">
    <h2>@Model.DisplayedName</h2>
    <p>@Model.Bio</p>


    <div class="posts">
        <partial name="_PostFeed" for="@Model.Posts">
    </div>
</div>