@{
    ViewData["Title"] = "Profile";
}
@using MicroVerse.ViewModels
@model ProfileViewModel




<!-- Page content -->
<div class="main">

    <div class="profile-header">
        <img class="profile-picture" src="https://picsum.photos/200/200" height="100" width="100" /> <!-- Mock profile picture -->
        <h1>@Model.Username</h1> 
        <h2>@Model.DisplayedName</h2> 
        <p>@Model.Bio</p> 
        <div class="follow-counts">
            <p>Followers: @Model.FollowerCount</p> 
            <p>Following: @Model.FollowsCount</p> 
        </div>
    </div>

    <div class="posts">
    @foreach (var post in Model.Posts)
    {
        <div class="post-containter">
            <div class="post-header">

                <a class="post-author" href="#">
                    <img class="profile-picture" src="https://picsum.photos/200/200" height="25" width="25" />
                    @post.DisplayedName
                </a>
                <div class="post-actions">
                    <i class="fa-solid fa-circle-up"></i> @post.Upvotes
                    <i class="fa-solid fa-circle-down"></i> @post.Downvotes
                    <a href="#"><i class="fa-solid fa-flag"></i></a>
                </div>
            </div>
            <hr></hr>
            <div class="post-body">
                @post.Body
            </div>
        </div>
    }
    </div>
</div>